.theme-orange {
    background-color: rgb(173, 74, 7);
    .header__dashboard {
        background-color: rgb(173, 74, 7);
        color: rgb(255, 255, 255);
        .btn__logout {
            color: white;
            border: 3px solid white;
        }
    }

    .dashboard__content {
        aside {
            background-color: rgb(173, 74, 7);
            color: rgb(255, 255, 255);

        }

        .nav__link {
            color: rgb(255, 255, 255);
            font-weight: 600;
            font-size: 1.4rem;
        }

        .page__content {
            background-color: rgb(236, 215, 193);
            color: rgb(0, 0, 0);

            .appbar {
                background-color: rgb(209, 101, 0);
                color: rgb(0, 0, 0);
                .btn__appbar {
                    border: 2px solid rgb(180, 205, 241);
                    color: rgb(180, 205, 241);
                }
            }

        }
        
    }

}